* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Source Serif 4", serif; 
}
body {
	background-color:#e5f2e0;
}
h1{
	font-size: 50px;
	line-height: 64px;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
	
}

h2{
	font-size:46px;
	line-height:54px;
	color:#fff;
	padding-bottom:90px;
	padding-left:90px;
}

h3{
	font-size:30px;
	line-height:54px;
	color:#000;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

p{
	font-size:16px;
	margin:15px 0 20px 0;
	color:#465b52;
}
.section-p1{
	padding:40px 80px;
}
#editor {
    background-image: url("editor1.jpg");
	height:700px;
	width:100%;
	background-size:cover;
	background-position: top 25% right 0;
	padding:0 150px;
	display:flex;
	flex-direction:column;
	alignitems:flex-start;
	justify-content:center;
	position:relative;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
.content {
    z-index: 2;
	position:relative;
}
.image {
    position: absolute;
    top: 70px;
    right: 170px;
    z-index: 1;
    height: 350px;
    width: 350px; 
    border-radius: 50%; 
    overflow: hidden;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);	
}
.image img {
    width: 100%;
    height: auto; 
}
#editor h4{
	padding-bottom:15px;
}
#editor h1{
	color:#088178;
}
#info {
    background: linear-gradient(to left,#aee6cb,#e5f2e0) ;
    padding: 40px; 
	text-align:center;
}

#info h3 {
    color: #004c45  ; 
    margin-bottom: 20px;
}

#info ul {
    list-style-type: none;
    margin-bottom: 20px; 
}

#info ul li {
    margin-bottom: 10px; 
}

#info ul a {
    color: #088178; 
    text-decoration: none; 
    display: inline-block;
    padding: 5px 10px;
    border: 2px solid #088178; 
    border-radius: 5px;
    transition: all 0.3s ease; 
}

#info ul a:hover {
    background-color: #088178; 
    color: #fff;
}